@model ebay.ViewModel.AuthRegisterVm;
<div class="container">
    <div class="row justify-content-center">
        @* <div class="col-6"> *@
        <form method="post" class="w-25">
            <!-- 2 column grid layout with text inputs for the first and last names -->
            <div class="row mb-4">
                <div class="col">
                    <div class="form-outline">
                        <input type="text" asp-for="FirstName" class="form-control" />
                        <label class="form-label" asp-for="FirstName"></label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <input type="text" asp-for="LastName" class="form-control" />
                        <label class="form-label" asp-for="LastName"></label>
                    </div>
                </div>
            </div>

            <!-- Email input -->
            <div class="form-outline mb-4">
                <input type="email" asp-for="Email" class="form-control" />
                <label class="form-label" asp-for="Email"></label>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
                <input type="password" asp-for="Password" class="form-control" />
                <label class="form-label" asp-for="Password">Password</label>
            </div>

            <!-- Checkbox -->
            @* <div class="form-check d-flex justify-content-center mb-4">
            <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
            <label class="form-check-label" for="form2Example33">
            Subscribe to our newsletter
            </label>
            </div> *@

            <!-- Submit button -->
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary btn-block mb-4">sign-up</button>
            </div>
            <!-- sign in buttons -->
            <div class="text-center">
                    <p>Already have an account? <a asp-action="LogIn" asp-controller="Auth">sign-in</a></p>
            </div>

            <!-- Register buttons -->
            @* <div class="text-center">
                <p>or sign up with:</p>
                <button type="button" class="btn btn-secondary btn-floating mx-1">
                    <i class="fab fa-facebook-f"></i>
                </button>

                <button type="button" class="btn btn-secondary btn-floating mx-1">
                    <i class="fab fa-google"></i>
                </button>

                <button type="button" class="btn btn-secondary btn-floating mx-1">
                    <i class="fab fa-twitter"></i>
                </button>

                <button type="button" class="btn btn-secondary btn-floating mx-1">
                    <i class="fab fa-github"></i>
                </button>
            </div> *@
        </form>
        @* </div> *@
    </div>
</div>