@{
    Layout = "_publicLayout";
}
@model ebay.ViewModel.ReviewVm
<style>
    .star-rating {
        line-height: 32px;
        font-size: 3em;
    }
</style>
<div class="container mt-3">
    <h2 class="text-dark text-center ">My Review</h2>

    <div class="row">
        <div class="col-3"></div>
        <div class="col-2">
            <img src="/Public/images/product/@Model.Product.Product_image" class="rounded"
                style="width:70px; height:100px; object-fit:contain;" />
        </div>
        <div class="col-4 my-auto">
            <strong>@Model.Product.Name</strong>
        </div>
        <div class="col-3"></div>

    </div>
    <hr class=" mt-5 w-50 mx-auto">
    <div class="row mt-3">
        <div class="col-3">

        </div>
        <div class="col-6">

            <h6 class="text-dark">Select Product Rating</h6>
        </div>
        <div class="col-3">
        </div>
    </div>
    <form method="post">

        <div class="row text-center mt-3">
            <div class="col-lg-12">
                <div class="star-rating">
                    <span class="fa fa-star-o" data-rating="1"></span>
                    <span class="fa fa-star-o" data-rating="2"></span>
                    <span class="fa fa-star-o" data-rating="3"></span>
                    <span class="fa fa-star-o" data-rating="4"></span>
                    <span class="fa fa-star-o" data-rating="5"></span>
                    <input type="hidden" name="RatingValue" class="rating-value" value="@Model.RatingValue">
                </div>
            </div>
        </div>
        <hr class=" mt-5 w-50 mx-auto">

        <div class="row mt-3">
            <div class="col-3"></div>
            <div class="col-6">
                <div class="form-group">
                    <label for="c_order_notes" class="text-black">
                        <h6>Add written review</h6>
                    </label>
                    <textarea name="Comment"  id="c_order_notes" cols="20" rows="6"  class="form-control mt-3"
                        placeholder="How's the quality of the product?Is it worth its price?"></textarea>
                </div>
            </div>
            <div class="col-3"></div>
        </div>
        <div class="text-center my-4">
            <input type="hidden" asp-for="Product_id">
            <input type="hidden" asp-for="User_id">
            <button class="btn btn-primary">
                Update
            </button>
        </div>
    </form>

</div>

@section scripts {
    <script>
        var $star_rating = $('.star-rating .fa');
        @* var total=parseInt($star_rating('input.rating-value').val(); *@



            var SetRatingStar = function () {
            return $star_rating.each(function () {
                if (parseInt($star_rating.siblings('input.rating-value').val()) >= parseInt($(this).data('rating'))) {
                    return $(this).removeClass('fa-star-o').addClass('fa-star');
                } else {
                    return $(this).removeClass('fa-star').addClass('fa-star-o');
                }
            });
        };

        $star_rating.on('click', function () {
            $star_rating.siblings('input.rating-value').val($(this).data('rating'));
            return SetRatingStar();

        });
        $('#c_order_notes').val('@Model.Comment');

        SetRatingStar();
        $(document).ready(function () {

        });
    </script>
}