@{
    Layout = "_publicLayout";
}
@model ebay.ViewModel.ReviewVm

<div class="container">
    @foreach (var data in Model.OrderItemFrmDb.OrderByDescending(x => x.Order.Order_date))
    {
        @if (data.Order_status.Equals("Delivered"))
        {
            var review = Model.ReviewExist.Any(x=>x.Product_id == @data.Product_id);
            <div class="ml-5">
                <div class="row  mx-5 my-3">
                    <div class="col-1 mx-5">
                        <img src="/Public/images/product/@data.Product.Product_image" class="rounded"
                            style="width:50px; height:75px; object-fit:contain;" />
                    </div>
                    <div class="col-6 my-auto text-truncate">
                        <strong>@data.Product.Name</strong>
                    </div>
                    <div class="col-4 text-center mx-auto my-auto">
                        @if (review==false)
                        {
                            <form method="get">
                                <a class="btn btn-secondary mx-auto my-auto" asp-action="AddReview" asp-controller="Review"
                                    asp-route-ProductId="@data.Product_id"><small class="my-auto"> Add Review</small></a>
                            </form>
                        }
                        else
                        {
                            <form method="get">
                                <a class="btn btn-secondary mx-auto my-auto" asp-action="EditReview" asp-controller="Review"
                                    asp-route-ProductId="@data.Product_id"><small class="my-auto">Edit Review</small></a>
                            </form>
                        }

                    </div>
                </div>
            </div>
        }
    }


</div>

@section scripts {

}