@using ebay.Provider.Interface
@inject ICurrentUserProvider _currentUserProvider
@{
    var currentUser = await _currentUserProvider.GetCurrentUser();
}

@if(_currentUserProvider.IsLoggedIn())
{
    <div class="d-flex gap-2 align-items-center justify-content-center">
        <span class="text-white">
            @currentUser?.FirstName
            @currentUser?.Id
        </span>
        @* <a asp-action="LogOut" asp-controller="Auth" class= "btn btn-danger">
            Logout
        </a> 
         <a asp-action="LogOut" asp-controller="Auth" class="dropdown-item">Logout</a> *@
    </div>
}
