

@using ebay.ViewModel
@model CategoryVm

<div class="container">


    <form>
        <div class="row pt-3">
            <div class="col-6">
                <h1 class="text-primary">Category List</h1>
            </div>
            <div class="col-2">
                <input asp-for="Name" type="text" placeholder="e.g. Iphone" class="form-control">
            </div>
            <div class="col-2">
                <button class="btn btn-primary">
                    <i class="bi bi-search"></i>&nbsp;Search
                </button>
            </div>
            <div class="col-1">
                <a asp-controller="Category" asp-action="Upsert" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i>&nbsp;Add New Product
                </a>
            </div>
        </div>

    <table class="table table-bordered table-striped">
        <thead>

            <tr>
                <td>
                    <h3>
                        Category Name
                    </h3>
                </td>
                <td>
                    <h3>
                        Action
                    </h3>
                </td>
            </tr>
        </thead>

        <tbody>
            @foreach (var data in Model.Cate)
            {
                <tr>
                    <td>
                        @data.Name
                    </td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a class="btn btn-primary mx-2" asp-controller="Product" asp-action="Upsert" asp-route-id="@data.id">
                                <i class="bi bi-pencil"></i>&nbsp; Edit
                            </a>
                            
                             <button asp-action="Delete" asp-controller="Product" asp-route-id="@data.id" class="btn btn-danger mx-2">
                                 <i class="bi bi-trash"></i>&nbsp; Delete
                            </button>

                        </div>
                    </td>

                </tr>
            }
        </tbody>

    </table>

    </form>
</div>